extends base.pug

block scripts
    script(src="/static/index.js") 

block style 
    style
        include ../static/style.css

block content 
    
    section#introSection
        div Strollers
        div.small Arrive, Explore and Discover Yourself !!! 

    section#packagesSection
        h2 Destinations
        div.cards 
            div.card1  
                h3 Kheerganga Trek
            div.card2  
                h3 Kareri Lake Trek
            div.card3   
                h3 Parashar Lake Trek

    section#blogs 
        h2 Blogs
            div.blogcards 
                div.blogcard1 
                    h3 Fun 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem ea qui repudiandae eligendi nemo, saepe deserunt nam pariatur quis corrupti dignissimos incidunt consequatur  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, laboriosam. Iure soluta culpa explicabo molestias, Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil voluptatibus a aliquid rem iste ex qui commodi, eligendi expedita culpa doloremque explicabo, ab minima dolorem incidunt ea minus perspiciatis. Libero unde aut incidunt eligendi. Sed mollitia, et aspernatur excepturi ullam odio aut similique, molestias est earum voluptatibus, ratione enim saepe quaerat sit voluptas consectetur ut consequatur omnis eum. Eius tempora perspiciatis eos cumque voluptatibus asperiores. Quidem fuga molestias a vel quas perferendis ipsa! Exercitationem porro deleniti tempore quos, voluptatum temporibus. Aspernatur, voluptas. Dolor velit eligendi, ullam fugit sequi porro magni modi temporibus perspiciatis delectus ipsum rem repudiandae voluptates cumque explicabo?
                div.blogcard2 
                    h3 Adventure 
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, id qui fugiat quaerat dignissimos ducimus quam nam obcaecati, aspernatur at beatae ratione delectus! Perferendis, consequuntur Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, laboriosam. Iure soluta culpa explicabo molestias, Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil voluptatibus a aliquid rem iste ex qui commodi, eligendi expedita culpa doloremque explicabo, ab minima dolorem incidunt ea minus perspiciatis. Libero unde aut incidunt eligendi. Sed mollitia, et aspernatur excepturi ullam odio aut similique, molestias est earum voluptatibus, ratione enim saepe quaerat sit voluptas consectetur ut consequatur omnis eum. Eius tempora perspiciatis eos cumque voluptatibus asperiores. Quidem fuga molestias a vel quas perferendis ipsa! Exercitationem porro deleniti tempore quos, voluptatum temporibus. Aspernatur, voluptas. Dolor velit eligendi, ullam fugit sequi porro magni modi temporibus perspiciatis delectus ipsum rem repudiandae voluptates cumque explicabo?
                div.blogcard3 
                    h3 Outdoors 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus fugiat placeat aspernatur assumenda ad in dicta beatae. Sapiente necessitatibus corrupti nam dolore voluptates vero nisi Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, laboriosam. Iure soluta culpa explicabo molestias, Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil voluptatibus a aliquid rem iste ex qui commodi, eligendi expedita culpa doloremque explicabo, ab minima dolorem incidunt ea minus perspiciatis. Libero unde aut incidunt eligendi. Sed mollitia, et aspernatur excepturi ullam odio aut similique, molestias est earum voluptatibus, ratione enim saepe quaerat sit voluptas consectetur ut consequatur omnis eum. Eius tempora perspiciatis eos cumque voluptatibus asperiores. Quidem fuga molestias a vel quas perferendis ipsa! Exercitationem porro deleniti tempore quos, voluptatum temporibus. Aspernatur, voluptas. Dolor velit eligendi, ullam fugit sequi porro magni modi temporibus perspiciatis delectus ipsum rem repudiandae voluptates cumque explicabo?